.card__item{
    display: inline-block;
    cursor: pointer;
    background-color:#fff;
    height: 70px;
    width: 100%;
    margin-bottom: 1px;
    border-bottom: 1px solid rgba(246,247,249,1);
}
.card__item:hover{
    background-color: rgba(246,247,249,0.2);
}
.disp {
    display: flex;
    justify-content: center;
    align-items: center;
}
.font-group {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}